body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #FF9A8B, #FF6F61);
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FF6F61;
}

p.instructions {
    margin-bottom: 10px;
    color: #333;
}

#buttonContainer {
    display: flex;
    justify-content: center;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

/* Add transition for button movement */
button.moved {
    position: relative;
    left: 50px;
    /* Adjust the amount of movement as needed */
}